.input-headers {
  padding-left: 40px;
}
.input-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
}

.event-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: 2px inset rgba(187, 185, 179, 0.726); /* Adjust as needed */
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100vw;
}

.inputimage-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100vw;
}

.event1-container {
  display: flex;
  padding-left: 40px;
  padding-top: 40px;
}

input {
  width: 40%;
  padding-left: 5px;
}

.inputimage1-container {
  display: flex;
  padding-left: 40px;
  padding-top: 40px;
  width: 100vw;
}

.event-form {
  margin-left: 20px; /* adds space to the left of the input */
}

.description-textarea {
  width: 50%; /* Full width of the container */
  height: 150px; /* Fixed height */
  padding: 10px; /* Spacing inside the textarea */
  margin-left: 20px; /* Spacing above the textarea */
  border: 1px solid #ccc; /* Border around the textarea */
  border-radius: 4px; /* Rounded corners */
}

.Inputpagebutton {
  padding-left: 40px;
  padding-top: 20px;
}
